<% include ../includes/header %>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Prijava</div>
            <div class="card-body">
                <form method="post" action="/api/auth/sign-in">

                    <div class="form-group">
                        <label>Korisničko ime</label>
                        <input class="form-control" name="username" type="text" placeholder="Upišite korisničko ime" required> 
                    </div>

                    <div class="form-group">
                        <label>Lozinka</label>
                        <input class="form-control" name="password" type="password" placeholder="Upišite lozinku" required>
                    </div>

                    <button class="btn btn-primary btn-block" type="submit" name="submit">Prijavi se</button>

                    <small class="text-muted form-text text-center" style="margin-top: 15px;"><%= message %></small>
                </form>
            </div>
        </div>
    </div>
</body>