<% include ../includes/header %>
    <% include includes/navigacija %>

        <body class="fixed-nav sticky-footer bg-dark" id="page-top">
            <div class="content-wrapper">
                <div class="container-fluid">
                    <div class="card mb-3">
                        <div class="card-header text-light bg-dark">
                            <i class="fa fa-align-center"></i>&nbsp;Predmeti
                            <br>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Predmet</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% subjects.forEach(function(subject) { %> 
                                    <tr>
                                        <td><%= subject.class %></td>
                                    </tr>
                                    <%  }); %>
                                </tbody>
                            </table>

                            <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#newClass">Dodaj novi predmet</button>
                        </div>
                    </div>
            </div>
        </body>

        <div class="modal fade" id="newClass">
            <div class="modal-dialog">
                <div class="modal-content">
        
                    <div class="modal-header">
                        <h4 class="modal-title">Novi predmet</h4>
                    </div>
                    
                    <form method="post" action="/api/admin/subject">
                        <div class="modal-body">
                            <input class="form-control" name="subject" type="text" placeholder="Ime predmeta" required>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-dark" name="submit">Spremi</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                        </div>
                    </form>
        
                </div>
            </div>
        </div>




        <% include ../includes/footer %>