<!-- Header -->
<% include ../includes/header %>

<!-- Navbar -->
<% include includes/navigacija %>

<!-- Body -->
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header text-light bg-dark">
                    <i class="fa fa-users"></i>&nbsp;Lista učenika
                    <br>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Broj u dnevniku</th>
                                <th>Ime i prezime</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        <% students.forEach(function(student) {%>
                            <tr>
                                <td><%= student.uid %></td>
                                <td><%= student.name %></td>
                                <td><a class="btn btn-dark btn-sm" href="/admin/pregled/<%= student.uid %>">Upravljaj</a></td>
                            </tr>
                        <%  }); %>
                        </tbody>
                    </table>
                    <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#newStudent">Dodaj novog učenika</button>
                </div>
            </div>
        </div>
    </div>
</body>

<div class="modal fade" id="newStudent">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Novi učenik</h4>
            </div>

            <form method="post" action="/api/admin/student">
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" name="fullname" type="text" placeholder="Ime učenika" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="username" type="text" placeholder="Korisničko ime" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="password" type="text" placeholder="Lozinka" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="st" type="text" placeholder="Lozinka" required value="ovo je korisnik" hidden>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark" name="submit">Spremi</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Footer -->
<% include ../includes/footer %>