<% include ../includes/header %>
<% include includes/navigacija %>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <div class="content-wrapper">
        <div class="container-fluid">
            
            <div class="card mb-3">
                <div class="card-header text-light bg-dark"> &nbsp;<a data-toggle="modal" data-target="#newPassword"><%= username %> / <%= password %></a>
                </div>
                <div class="card-body" style="margin-bottom: -20px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Predmet</th>
                                <th>Ocjene</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        <% marks.forEach(function(student) { %>
                            <tr>
                                <td style="padding-top: 20px;"><%= student.class %></td>
                                <td style="padding-top: 20px;"><%= student.marks %></td>
                                <td>
                                    <div class="form-group">
                                        <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);" class="form-control" id="sel1" style="margin-bottom: -15px;">
                                            <option value="Ocjena"></option>
                                            <option value="/api/update/marks/mark-1/subject-<%= student.hid %>/student-<%= sid %>">1</option>
                                            <option value="/api/update/marks/mark-2/subject-<%= student.hid %>/student-<%= sid %>">2</option>
                                            <option value="/api/update/marks/mark-3/subject-<%= student.hid %>/student-<%= sid %>">3</option>
                                            <option value="/api/update/marks/mark-4/subject-<%= student.hid %>/student-<%= sid %>">4</option>
                                            <option value="/api/update/marks/mark-5/subject-<%= student.hid %>/student-<%= sid %>">5</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#CustomMarks" style="margin-bottom: 15px;">Izmjena ocjena</button>
                </div>
            </div>
            
            <div class="card mb-3">
                <div class="card-header text-light bg-dark"> &nbsp;<a data-toggle="modal" data-target="#newPassword">Bilješke i napomene</a>
                </div>
                <div class="card-body" style="margin-bottom: -20px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Datum</th>
                                <th>Poruka</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        <% notes.forEach(function(note) { %>
                            <tr>
                                <td style="padding-top: 20px;"><%= note.date %></td>
                                <td style="padding-top: 20px;"><%= note.message %></td>
                                <td style="padding-top: 20px;"><a href="/api/note/delete/<%= note.nid %>" style="color: black"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#NewNote" style="margin-bottom: 15px;">Dodaj napomenu</button>
                </div>
            </div>
        </div>
    </div>
</body>

<div class="modal fade" id="newPassword">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Promjena lozinke</h4>
            </div>

            <form method="post" action="/api/update/student/password">
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" name="password" type="text" placeholder="Lozinka" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="id" type="text" placeholder="Lozinka" required value="<%= sid %>" hidden>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark" name="submit">Spremi</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="CustomMarks">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Izmjena ocjena</h4>
            </div>

            <form method="post" action="/api/update/CustomMarks">
                <div class="modal-body">

                    <select class="form-control" name="hid">
                        <% marks.forEach(function(student) { %>
                            <option value="<%= student.hid %>"><%= student.class %></option>
                        <%  }); %>
                    </select>


                        <div class="form-group" style="margin-top: 10px;">
                            <input type="text" class="form-control" name="marks">
                            <input type="hidden" name="sid" value="<%= sid %>">
                        </div>
                </div>


                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark" name="submit">Spremi</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                </div>

            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="NewNote">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Nova bilješka</h4>
            </div>

            <form method="post" action="/api/note/new">
                <div class="modal-body">

                    <input type="hidden" value="<%= sid %>" name="sid">

                    <div class="form-group">
                        <label>Datum</label>
                        <input type="date" name="date" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Bilješka (max. 265 karaktera)</label>
                        <textarea class="form-control" name="note" rows="3"></textarea>
                    </div>

                 </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark" name="submit">Spremi</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                </div>

            </form>

        </div>
    </div>
</div>



<% include ../includes/footer %>