<% include ../includes/header %>
<% include includes/navigacija %>

    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="card mb-3">
                    <div class="card-header text-light bg-dark">
                        <i class="fa fa-users"></i>&nbsp; Roditeljski sastanci
                        <br>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Datum</th>
                                    <th>Razlog/povodom</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% meetings.forEach(function(meeting) {%>
                                    <tr>
                                        <td>
                                            <%= meeting.date %>
                                        </td>
                                        <td>
                                            <%= meeting.description %>
                                        </td>
                                    </tr>
                                    <%  }); %>
                            </tbody>
                        </table>
                        <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#deleteMeeting">Brisanje unosa</button>
                    </div>
                </div>
            </div>
        </div>
    </body>


<div class="modal fade" id="deleteMeeting">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Brisanje unosa</h4>
            </div>

            <form method="post" action="/api/delete/meeting">
                <div class="modal-body">
                    <select class="form-control" name="mid">
                        <% meetings.forEach(function(meeting) { %>
                        <option><%= meeting.date %></option>
                        <% }); %>
                    </select>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark" name="submit">Obriši</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                </div>

            </form>

        </div>
    </div>
</div>


<% include ../includes/footer %>