<% include ../includes/header %>
<% include includes/navigacija %>

    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="card mb-3">
                    <div class="card-header text-light bg-dark">
                        <i class="fa fa-users"></i>&nbsp;Pregled verzija
                        <br>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Verzija</th>
                                    <th>Opis verzije</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% updates.forEach(function(update) {%>
                                    <tr>
                                        <td>
                                            <%= update.version %>
                                        </td>
                                        <td>
                                            <%= update.description %>
                                        </td>
                                    </tr>
                                    <%  }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>

<% include ../includes/footer %>