<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>© E-Dnevnik, STŠ Bugojno #
                <a href="https://beganovich.com">@beganovich</a>
            </small>
        </div>
    </div>
</footer>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>