<% include ../includes/header %>
    <% include includes/navigacija %>

        <body class="fixed-nav sticky-footer bg-dark" id="page-top">
            <div class="content-wrapper">
                <div class="container-fluid">
                    <div class="card mb-3">
                        <div class="card-header text-light bg-dark">Napomene i bilješke</div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Datum</th>
                                        <th>Napomena</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% notes.forEach(function(note) { %>
                                        <tr>
                                            <td>
                                                <%= note.date %>
                                            </td>
                                            <td>
                                                <%= note.message %>
                                            </td>
                                        </tr>
                                        <%  }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </body>

        <% include ../includes/footer %>