<% include ../includes/header %>
<% include includes/navigacija %>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header text-light bg-dark">
                    <i class="fa fa-book"></i>&nbsp;Pregled ocjena</div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Predmet</th>
                                <th>Ocjene</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% subjects.forEach(function(subject) { %>
                            <tr>
                                <td><%= subject.class %></td>
                                <td><%= subject.marks %></td>
                            </tr>
                            <%  }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

<% include ../includes/footer %>