<% include ../includes/header %>
<% include includes/navigacija %>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header text-light bg-dark">
                    <i class="fa fa-users"></i>&nbsp;Roditeljski sastanci</div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Datum</th>
                                <th>Razlog/povod</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% meetings.forEach(function(meeting) { %>
                            <tr>
                                <td><%= meeting.date %></td>
                                <td><%= meeting.description %></td>
                            </tr>
                            <%  }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

<% include ../includes/footer %>    