<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="../">E-Dnevnik</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item active" data-toggle="tooltip" data-placement="right">
                <a class="nav-link" href="/user/ocjene">
                    <i class="fa fa-fw fa-book"></i>
                    <span class="nav-link-text active">Pregled ocjena</span>
                </a>
            </li>
            <li class="nav-item active" data-toggle="tooltip" data-placement="right">
                <a class="nav-link" href="/user/sastanci">
                    <i class="fa fa-fw fa-users"></i>
                    <span class="nav-link-text">Roditeljski sastanci</span>
                </a>
            </li>
            <!--  
            <li class="nav-item active" data-toggle="tooltip" data-placement="right">
                <a class="nav-link" href="/u/izostanci">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Izostanci</span>
                </a>
            </li>
        -->
            <li class="nav-item active">
                <a class="nav-link" href="/user/napomene">
                    <i class="fa fa-user fa-pencil"></i>&nbsp;Napomene i bilješke</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-user fa-user"></i>&nbsp;<%= name %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/sign-out">
                    <i class="fa fa-user fa-sign-out"></i>&nbsp;Odjavi se</a>
            </li>
        </ul>
    </div>
</nav>