<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="../">E-Dnevnik</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item active" data-toggle="tooltip" data-placement="right">
                    <a class="nav-link" href="/admin/pregled">
                        <i class="fa fa-fw fa-book"></i>
                        <span class="nav-link-text active">Pregled dnevnika</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/predmeti">
                        <i class="fa fa-user fa-align-center"></i>&nbsp;Predmeti</a>
                </li>
                
                <li class="nav-item active">
                    <a class="nav-link" data-toggle="modal" data-target="#newMeeting">
                        <i class="fa fa-fw fa-users"></i>&nbsp;Roditeljski sastanci</a>
                </li>
                
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/verzije">
                        <i class="fa fa-fw fa-code-fork"></i>Lista ažuriranja</a>
                </li>

            </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#profile">
                    <i class="fa fa-user fa-user"></i>&nbsp;
                    <%= admin %>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/sign-out">
                    <i class="fa fa-user fa-sign-out"></i>&nbsp;Odjavi se</a>
            </li>
        </ul>
    </div>
</nav>


<% include roditeljski-sastanci %>
<% include profil %>