<div class="modal fade" id="profile">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title"><%= admin %></h4>
            </div>

            <form method="post" action="/api/admin/profile/edit">
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" name="newpassword" type="text" placeholder="Nova lozinka" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark" name="submit">Spremi</button>
                </div>
            </form>

        </div>
    </div>
</div>