<div class="modal fade" id="newMeeting">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Roditeljski sastanak</h4>
            </div>

            <form method="post" action="/api/admin/meeting/new">
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" name="date" type="text" placeholder="Datum sastanaka" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="reason" type="text" placeholder="Razlog (kratak opis)" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark" name="submit">Spremi</button>
                    <a href="/admin/sastanci" class="btn btn-secondary">Pregled</a>
                </div>
            </form>

        </div>
    </div>
</div>